<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculatorNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB4925D31C529F0E001A6806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4925EC1C529F0E001A6806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4925F71C529F0E001A6806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
